{% extends 'index.html' %}
{% block df %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">日付</th>
            <th scope="col">曜日</th>
            <th scope="col">始値</th>
            <th scope="col">高値</th>
            <th scope="col">安値</th>
            <th scope="col">終値</th>
            <th scope="col">前日比較</th>
            <th scope="col">前日比</th>
            <th scope="col">売上高</th>
        </tr>
        </thead>
        <tbody>
        {% for z in df %}
        <tr>
            <th scope="row">{{ z }}</th>
            <td>{{ z }}</td>
            <td>{{ z }}</td>
            <td>{{ z }}</td>
{#            <td>{{ z[4] }}</td>#}
{#            <td>{{ z[5] }}</td>#}
{#            <td>{{ z[6] }}</td>#}
{#            <td>{{ z[7] }}</td>#}
{#            <td>{{ z[8] }}</td>#}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}