<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>株価情報取得(kawaharasama)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #main{
            width: 80%;
            margin: 10% auto;
        }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
    <div id="main">
        <a href="{{ url_for('scraping') }}">
            <button type="button" class="btn btn-info">スクレイピング開始</button>
        </a>
    </div>


{#    スクレイピングに成功したときに表示#}
    {% block btn %}{% endblock %}
{#データ読み込み時に表示#}
    {% block df %}{% endblock %}


</body>
</html>